<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livros</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          rel="stylesheet">
</head>
<body>
<div class="container" id="container">
    <h1>Cadastro de Editora</h1>
    <form method="post" th:action="@{/editoras}" th:object="${editora}">
        <input th:field="*{id}" type="hidden">
        <label for="descricao">Descrição</label>
        <input class="form-control" th:field="*{descricao}" type="text">
        <button class="btn btn-primary mt-4" type="submit">Salvar</button>
    </form>
</div>
</body>
</html>