<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Biblioteca do CEEPPLG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="container" class="container">
        <h1>Bem vindo a biblioteca - Lista de Editoras</h1>
        <a class="btn btn-primary mb-4" th:href="@{/editoras/cadastro}">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EDITORA</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="editora : ${editoras}">
                    <td th:text="${editora.id}"></td>
                    <td th:text="${editora.descricao}"></td>
                    <td>
                        <a class="btn btn-success btn-sm" th:href="@{/editoras/editar/{id}(id=${editora.id})}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>